<section class="top-banner-section">
  <div class="banner-image-div">
    <img class="banner-image img-fluid" src="../../../assets/compras.jpg" alt="Banner Image" />
  </div>
  <div class="banner-overlay-div"></div>
  <div class="banner-text-div">
    <span class="banner-text">
      <p class="banner-h1-text">Compras</p>
    </span>
  </div>
</section>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="p-2 card col-md-4 col-xs-12">
      <a href="indumentaria">
        <img class="card-image" src="assets/images/compras/indumentaria/INDUMENTARIA.jpg" alt="Indumentaria">
        <span class="card-title">Indumentaria</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="computacion">
        <img class="card-image" src="assets/images/compras/computacion/computacion-celulares.png" alt="computacion">
        <span class="card-title">Computación / Celulares</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="licores">
        <img class="card-image" src="assets/images/compras/licoreria/LICORERIAS.jpg" alt="locres">
        <span class="card-title">Licores</span>
      </a>
    </div>

  </div>
</div>


