<section class="top-banner-section">
  <div class="banner-image-div">
    <img class="banner-image" src="../../../assets/esparcimiento.jpg" alt="Banner Image" />
  </div>
  <div class="banner-overlay-div"></div>
  <div class="banner-text-div">
    <span class="banner-text">
      <p class="banner-h1-text">Esparcimiento</p>
    </span>
  </div>
</section>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="p-2 card col-md-4 col-xs-12">
      <a href="amelix">
        <img class="card-image" src="assets/images/esparcimiento/cineamelix/CINE-AMELIX-LOGO-SAN-RAFAEL-1.png" alt="cine amelix">
        <span class="card-title">Cina Amelix</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="altos-del-sol">
        <img class="card-image" src="assets/images/esparcimiento/altosdelsol/ALTOS-DEL-SOL-BOW-LOGO-SAN-RAFAEL.jpg" alt="altosdelsol">
        <span class="card-title">Bowling Altos del Sol</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="teatro-roma">
        <img class="card-image" src="assets/images/esparcimiento/teatroroma/TEATRO-ROMA-LOGO-SAN-RAFAEL-1.png" alt="teatro roma">
        <span class="card-title">Teatro Roma</span>
      </a>
    </div>

  </div>
</div>
