<section class="top-banner-section">
  <div class="banner-image-div">
    <img class="banner-image" src="../../../assets/comida.jpg" alt="Banner Image" />
  </div>
  <div class="banner-overlay-div"></div>
  <div class="banner-text-div">
    <span class="banner-text">
      <p class="banner-h1-text">Casas de comidas</p>
    </span>
  </div>
</section>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="p-2 card col-md-4 col-xs-12">
      <a href="malvina">
        <img class="card-image" src="assets/images/gastronomia/casacomidas/malvina/MALVINA-LOGO-SAN-RAFAEL.png" alt="Malvina">
        <span class="card-title">Malvina</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="">
        <img class="card-image" src="assets/images/gastronomia/casacomidas/elpalacio/EL-PALACIO-LOGO-SAN-RAFAEL.png" alt="el palacio">
        <span class="card-title">Proximamente</span>
      </a>
    </div>

  </div>
</div>

