<section class="top-banner-section">
  <div class="banner-image-div">
    <img class="banner-image" src="../../../assets/pizzeria.jpg" alt="Banner Image" />
  </div>
  <div class="banner-overlay-div"></div>
  <div class="banner-text-div">
    <span class="banner-text">
      <p class="banner-h1-text">pizzerias-sandwicherias</p>
    </span>
  </div>
</section>

<section>

</section>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="p-2 card col-md-4 col-xs-12">
      <a href="sangucheto">
        <img class="card-image" src="assets/images/gastronomia/pizzeriasandwicheria/sangucheto/SANGUCHETO-LOGO-SAN-RAFAEL.png" alt="Sangucheto">
        <span class="card-title">Sangucheto</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="#">
        <img class="card-image" src="assets/images/gastronomia/pizzeriasandwicheria/chanchonegro/CHANCHO-NEGRO-LOGO-SAN-RAFAEL.png" alt="el palacio">
        <span class="card-title">Proximamente</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="subway">
        <img class="card-image" src="assets/images/gastronomia/pizzeriasandwicheria/subway/SUBWAY-LOGO-SAN-RAFAEL.png" alt="Subwey">
        <span class="card-title">Subway</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="la-maquina">
        <img class="card-image" src="assets/images/gastronomia/restaurantes/lamaquina/LA-MAQUINA-LOGO-SAN-RAFAEL.png" alt="la maquina">
        <span class="card-title">La máquina</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="pizza-que-pizza">
        <img class="card-image" src="assets/images/gastronomia/pizzeriasandwicheria/pizzaqpizza/PIZZA-Q-PIZZA-LOGO-SAN-RAFAEL.png" alt="pizza que pizza">
        <span class="card-title">Pizza qué pizza</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="zitto">
        <img class="card-image" src="assets/images/gastronomia/pizzeriasandwicheria/zitto/ZITTO-LOGO-SAN-RAFAEL.png" alt="zitto">
        <span class="card-title">Zitto</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="una-de-ouvina">
        <img class="card-image" src="assets/images/gastronomia/pizzeriasandwicheria/unadeouvina/UNA-DE-OUVINA-LOGO-SAN-RAFAEL.png" alt="ouvina">
        <span class="card-title">Una de Ouviña</span>
      </a>
    </div>

  </div>
</div>

