<div class="container mt-5 mb-5">
  <div class="row">
    <div class="p-2 card col-md-4 col-xs-12">
      <a href="brandsen">
        <img class="card-image" src="assets/images/compras/indumentaria/brandsen/SAN-RAFAEL-BRANDSEN-LOGO-N.png" alt="Brandsen">
        <span class="card-title">Brandsen</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="buba">
        <img class="card-image" src="assets/images/compras/indumentaria/buba/SAN-RAFAEL-BUBA-KIDS-LOGO-N.png" alt="buba">
        <span class="card-title">Buba Kids shop</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="eva">
        <img class="card-image" src="assets/images/compras/indumentaria/eva/SAN-RAFAEL-EVA-LOGO-N.png" alt="eva">
        <span class="card-title">Eva</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="gato-negro">
        <img class="card-image" src="assets/images/compras/indumentaria/gatonegro/SAN-RAFAEL-GATO-NEGRO-LOGO-N.png" alt="gato negro">
        <span class="card-title">Gato negro</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="juana">
        <img class="card-image" src="assets/images/compras/indumentaria/juana/SAN-RAFAEL-JUANA-PREMIUM-LOGO-N.png" alt="juana">
        <span class="card-title">Juana Premium</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="la-oveja-negra">
        <img class="card-image" src="assets/images/compras/indumentaria/laovejanegra/SAN-RAFAEL-OVEJA-NEGRA-LOGO-N.png" alt="la oveja negra">
        <span class="card-title">L' Oveja Negra</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="laura-garcia">
        <img class="card-image" src="assets/images/compras/indumentaria/lauragarcia/SAN-RAFAEL-LAURA-GARCIA-LOGO-N.png" alt="laura garcia">
        <span class="card-title">Laura García Store</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="red-cross">
        <img class="card-image" src="assets/images/compras/indumentaria/redcross/SAN-RAFAEL-RED-CROSS-LOGO-N.png" alt="red cross">
        <span class="card-title">Red Cross</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="regina">
        <img class="card-image" src="assets/images/compras/indumentaria/reginacuore/SAN-RAFAEL-REGINA-CUORE-LOGO-N.png" alt="regina">
        <span class="card-title">Regina Cuore</span>
      </a>
    </div>

  </div>
</div>

