<header>
  <nav class="navbar navbar-expand-lg" [style.background]="colorHeader.getColor()">
    <div class="container">
      <a class="navbar-brand text-uppercase text-dark" href="#">
        <img src="assets/iso3.png" class="d-inline-block" alt="" loading="lazy">
        Vive <span class="font-weight-bold">San Rafael</span>
      </a>
      <button class="btn-circle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link text-uppercase text-dark" href="#">Inicio</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-uppercase text-dark" href="#">Eventos</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-uppercase text-dark" href="#">Club de beneficios</a>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle text-uppercase text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Guía
            </a>
            <div class="dropdown-menu menu-mio" aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-uppercase text-dark" href="gastronomia">Gastronomía</a>
              <a class="dropdown-item text-uppercase text-dark" href="vida-nocturna">Vida nocturna</a>
              <a class="dropdown-item text-uppercase text-dark" href="compras">Compras</a>
              <a class="dropdown-item text-uppercase text-dark" href="esparcimiento">Esparcimiento</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<app-loader></app-loader>
<router-outlet></router-outlet>

<div class="footer bg-dark">
  <div class="footer-content">
    <div class="footer-section about">
      <h1 class="logo-text"><span>Vive</span> San Rafael</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        At, provident.
      </p>

      <div class="contact mt-4">
        <span><i class="fa fa-phone" aria-hidden="true"></i> 2604 - 646464</span>
        <span><i class="fa fa-envelope" aria-hidden="true"></i> info@sanrafael.com</span>
      </div>

      <div class="socials mt-4">
        <a href="https://www.facebook.com/vivesanrafaelweb/" target="_blank"><i class="fa fa-facebook"   style="transform: translate(120%, 14%) !important" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/vivesanrafael/" target="_blank"><i class="fa fa-instagram"  style="transform: translate(60%, 11%) !important" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="footer-section links">
      <h2 class="logo-text"><span>Enlaces</span> Rápidos</h2>
      <ul style="width: 200px; list-style: none; padding: 0">
        <a href="#"><li>Inicio</li></a>
        <a href="#"><li>Eventos</li></a>
        <a href="#"><li>Club de beneficios</li></a>
        <a href="gastronomia"><li>Gastronomía</li></a>
        <a href="vida-nocturna"><li>Vida nocturna</li></a>
        <a href="compras"><li>Compras</li></a>
        <a href="esparcimiento"><li>Esparcimiento</li></a>
      </ul>
    </div>

    <div class="footer-section contact-form">
      <h2>Contáctenos</h2>
      <form (ngSubmit)="contactForm(form.value)" #form="ngForm">
        <input type="text" name="nombre" class="contact-input" placeholder="Ingrese su nombre" ngModel>
        <input type="email" name="email" class="contact-input" placeholder="Ingrese email" ngModel>
        <textarea ngModel name="mensaje" class="contact-input" placeholder="Escribe tu mensaje" style="max-height: 150px; min-height: 130px"></textarea>
        <button type="submit" class="boton-big">
          Enviar
        </button>
      </form>
    </div>

  </div>

</div>
