<div class="container mt-5 mb-5">
  <div class="row">
    <div class="p-2 card col-md-4 col-xs-12">
      <a href="restaurantes">
        <img class="card-image" src="assets/images/gastronomia/restaurantes/RESTAUR.png" alt="Restaurante">
        <span class="card-title">Restaurante</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="casas-de-comida">
        <img class="card-image" src="assets/images/gastronomia/casacomidas/vive-san-rafael-casas-de-comida.jpg" alt="Casa de comidas">
        <span class="card-title">Casa de comidas</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="pizzerias-sandwicherias">
        <img class="card-image" src="assets/images/gastronomia/pizzeriasandwicheria/PIZZERIAS-SANDWICHERIAS.jpg" alt="Pizzerias / Sandwicherias">
        <span class="card-title">Pizzerias / Sandwicherias</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="cafeterias">
        <img class="card-image" src="assets/images/gastronomia/cafeterias/CAFE.jpg" alt="Cafeterias">
        <span class="card-title">Cafeterias</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="">
        <img class="card-image" src="assets/images/gastronomia/heladerias/HELADERIAbn.png" alt="heladerias">
        <span class="card-title">Proximamente heladerias</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="panaderias">
        <img class="card-image" src="assets/images/gastronomia/panaderias/PANADERIA.jpg" alt="Panadería y Confiterías">
        <span class="card-title">Panadería y Confiterías</span>
      </a>
    </div>
  </div>
</div>

