<section class="top-banner-section">
  <div class="banner-image-div">
    <img class="banner-image" src="../../../assets/cafeteria.jpg" alt="Banner Image" />
  </div>
  <div class="banner-overlay-div"></div>
  <div class="banner-text-div">
    <span class="banner-text">
      <p class="banner-h1-text">Cafeterías</p>
    </span>
  </div>
</section>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="p-2 card col-md-4 col-xs-12">
      <a href="san-telmo">
        <img class="card-image" src="assets/images/cafeterias/santelmo/SAN-TELMO-SAN-RAFAEL-LOGO.png" alt="san telmo">
        <span class="card-title">San Telmo</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="la-maquina">
        <img class="card-image" src="assets/images/cafeterias/lamaquina/LA-MAQUINA-LOGO-SAN-RAFAEL.png" alt="la maquina">
        <span class="card-title">La Máquina</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="sexto-sentido">
        <img class="card-image" src="assets/images/cafeterias/sextosentido/SEXTO-SENTIDO-LOGO-SAN-RAFAEL.png" alt="sexto sentido">
        <span class="card-title">6to Sentido</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="bonafide">
        <img class="card-image" src="assets/images/cafeterias/bonafide/BONAFIDE-LOGO-SAN-RAFAEL.png" alt="bonafide">
        <span class="card-title">Bonafide</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="balcarce">
        <img class="card-image" src="assets/images/cafeterias/balcarce/BALCARCE-LOGO-SAN-RAFAEL.png" alt="balcarce">
        <span class="card-title">Balcarce</span>
      </a>
    </div>

  </div>
</div>
