<section class="top-banner-section">
  <div class="banner-image-div">
    <img class="banner-image" src="../../../assets/panaderia.jpg" alt="Banner Image" />
  </div>
  <div class="banner-overlay-div"></div>
  <div class="banner-text-div">
    <span class="banner-text">
      <p class="banner-h1-text">Panaderías y confiterías</p>
    </span>
  </div>
</section>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="p-2 card col-md-4 col-xs-12">
      <a href="la-fornarina">
        <img class="card-image" src="assets/images/gastronomia/panaderias/lafornarina/LA-FORNARINA-LOGO-SAN-RAFAEL.png" alt="la fornarina">
        <span class="card-title">La Fornarina</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="le-boulanger">
        <img class="card-image" src="assets/images/gastronomia/panaderias/leboulanger/LE-BOULANGER-LOGO-SAN-RAFAEL.png" alt="le boulanger">
        <span class="card-title">Le Boulanger</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="belen">
        <img class="card-image" src="assets/images/gastronomia/panaderias/belen/BELEN-LOGO-SAN-RAFAEL.png" alt="belen">
        <span class="card-title">Belén</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="san-francisco">
        <img class="card-image" src="assets/images/gastronomia/panaderias/sanfrancisco/SAN-FRANCISCO-LOGO-SAN-RAFAEL.png" alt="san francisco">
        <span class="card-title">San Francisco</span>
      </a>
    </div>

  </div>
</div>

