<div class="container mt-5 mb-5">
  <div class="row">
    <div class="p-2 card col-md-4 col-xs-12">
      <a href="el-catulo">
        <img class="card-image" src="assets/images/compras/licoreria/elcatulo/SAN-RAFAEL-EL-CATULO-LOGO-N.png" alt="El Catulo">
        <span class="card-title">El Catulo</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="1933">
        <img class="card-image" src="assets/images/compras/licoreria/1993/SAN-RAFAEL-ALMACEN-1933-LOGO-N.png" alt="1993">
        <span class="card-title">1933</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="go-bar">
        <img class="card-image" src="assets/images/compras/licoreria/gobar/GO-BAR-LOGO-SAN-RAFAEL.png" alt="go bar">
        <span class="card-title">Go Bar</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="clasico">
        <img class="card-image" src="assets/images/compras/licoreria/clasico/SAN-RAFAEL-CLASICO-Y-MODERNO-LOGO-N.png" alt="clasico y moderno">
        <span class="card-title">Clásico y Moderno</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="liver">
        <img class="card-image" src="assets/images/compras/licoreria/liver/SAN-RAFAEL-LIVER-LOGO-N.png" alt="liver">
        <span class="card-title">Liver</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="el-parque">
        <img class="card-image" src="assets/images/compras/licoreria/elparque/SAN-RAFAEL-EL-PARQUE-LOGO-N.png" alt="el parque">
        <span class="card-title">El Parque</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="la-cava">
        <img class="card-image" src="assets/images/compras/licoreria/lacava/LA-CAVA-LOGO-SAN-RAFAEL.png" alt="la cava">
        <span class="card-title">La Cava</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="drinks">
        <img class="card-image" src="assets/images/compras/licoreria/drinks/SAN-RAFAEL-DRINKS-BAR-LOGO-N.png" alt="drinks bar">
        <span class="card-title">Drink's Bar</span>
      </a>
    </div>

  </div>
</div>

