<section class="top-banner-section">
  <div class="banner-image-div">
    <img class="banner-image" src="../../../assets/nocturna.jpg" alt="Banner Image" />
  </div>
  <div class="banner-overlay-div"></div>
  <div class="banner-text-div">
    <span class="banner-text">
      <p class="banner-h1-text">Vida nocturna</p>
    </span>
  </div>
</section>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="p-2 card col-md-4 col-xs-12">
      <a href="penon">
        <img class="card-image" src="assets/images/vidanocturna/penon/PENON-LOGO-SAN-RAFAEL.jpg" alt="peñon">
        <span class="card-title">Peñón</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="mona">
        <img class="card-image" src="assets/images/vidanocturna/mona/MONA-LOGO-SAN-RAFAEL.png" alt="mona">
        <span class="card-title">Mona</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="san-telmo">
        <img class="card-image" src="assets/images/vidanocturna/santelmo/SAN-TELMO-SAN-RAFAEL-LOGO.png" alt="san telmo">
        <span class="card-title">San Telmo</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="sir-williams">
        <img class="card-image" src="assets/images/vidanocturna/sirwilliams/SIR-WILLIAM-LOGO-SAN-RAFAEL.jpg" alt="sir williams">
        <span class="card-title">Sir Williams</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="biero">
        <img class="card-image" src="assets/images/vidanocturna/biero/BIERO-LOGO-SAN-RAFAEL.png" alt="biero">
        <span class="card-title">Biero</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="plan-b">
        <img class="card-image" src="assets/images/vidanocturna/planb/PLAN-B-LOGO-SAN-RAFAEL.png" alt="plan b">
        <span class="card-title">Plan B</span>
      </a>
    </div>

    <div class="p-2 card col-md-4 col-xs-12">
      <a href="el-escondite">
        <img class="card-image" src="assets/images/vidanocturna/elescondite/EL-ESCONDITE-LOGO-SAN-RAFAEL.png" alt="el escondite ">
        <span class="card-title">El Escondite</span>
      </a>
    </div>

  </div>
</div>

